.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

.filter-container p{
    margin: 0 20px 0 20px;
  }
  
  .filter-input {
    width: 10%;
  }