.user-list-container{
  background-color: #dbe2ed;
  height: 100vh;
}

.user-list-table {
  padding: 2% 5% 0 5%;
}

.tabledelete {
  border: 5px solid black;
  display: block;
}

.mat-column-select {
  overflow: visible;
}

@media screen and (max-width: 730px) {
  .nested-filter-container {
    flex-direction: column;
  }
}
