.nav-container {
    height: 100vh;
  }
  
  .nav-content {
    height: 100%;
    align-items: center;
  }
  
  .sidenav {
    padding: 20px;
    background-color:orange;
    width: 300px;
    text-align: center;
  }

  