.nav-container {
  height: 100vh;
}

.nav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
  background-color: #6182ed;
  width: 200px;
  text-align: center;
}

.nav-logo {
  margin-top: 40vh;
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media screen and (max-width: 730px){
  .sidenav{
    display: none;
  }
}
